*{
    margin:0;
    padding:0;
}

body{
    background-color: hsl(0, 0%, 25%);
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-around;
    /* max-height: 50px; */
    background-color: black;
    color: white;
    padding: 10px;
}

#heading{
    display: flex;
    align-items: center;
    gap: 10px;
}

img{
    object-fit: contain;
}

#heading p{
    font-weight: 900;
    font-size:x-large;
}

#nav-options{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:15px;
}

#nav-options a{
    text-decoration: none;
    color:rgb(201, 199, 198)
}
#nav-options a:hover{
    color:white
}

#nav-form{
    display: flex;
    align-items: center;
    gap: 10px;
}

#nav-form input{
    padding:8px;
    background-color: black;
    color:rgb(201, 199, 198);
    border-radius: 5px;
}

#nav-form button{
    padding:8px 12px;
    background-color: skyblue;
    color: white;
    border-radius:5px;
}

#info{
    text-align: center;
    background-color: black;
    color:rgb(168, 165, 164);
    padding: 10px;
    height:100%;
    font-size: smaller;
}
#info a{
    text-decoration: none;
}

main{
    height: 100%;
    padding: 60px;
}

#pill{
    background-color: azure;
    width:40%;
    padding:5px;
    border-radius: 50px;
    text-align: center;
    color:rgb(168, 165, 164);
    background-color: hsl(0, 0%, 40%);
    margin:15px 0;
}

#main{
    color:white;
    margin: 20px 0;
    font-weight: 1000;
    font-size: xx-large;
}

#info-btn button{
    background-color: rgb(27, 108, 239);
    color: white;
    border-radius:5px;
    padding: 10px;
    width: 350px;
    font-size: large;
    font-weight: 900;
}

.container{
    display: grid;
    max-width: 1200px;
    grid-template-columns: 1fr 2fr;
    justify-content: center;
    gap: 10px;
    background-color: black;
    color: white;
    padding: 10px;
}
.left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    
}
.left h2{
    padding-bottom: 10px;
}
.left p{
    font-size: small;
    color:rgb(168, 165, 164);
}
.right{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-inline: 2.5rem;
}
.flex{
    display: flex;
    align-items: center;
}
.flex > img{
    width:45px;
}