*{
    box-sizing: border-box;
}

#container{
    border:1px solid black;
    padding:5px;
    display:flex;
    justify-content: space-around;
    align-items: stretch;
    /* display:none; */
    /* height: auto; */
    /* min-height: 100vh; */
}

.panel{
    border: 2px solid black;
    margin: 5px;
    height: auto;
    width:100%;
    padding:5px;
    border-radius: 5px;
    background-color: beige;
    /* align-self: stretch; */
}

#task-container{
    display: none;
}

.task-list{
    min-height: 60px;
    height: 100%;
    width:100%;
}

.task-card{
    background-color: lightgray;
    border-radius: 5px;
    padding: 2px 4px;
    margin: 6px 2px;
    cursor:grab;
}

.task-heading{
    text-align: center;
    font-weight: 900;
}

.task-desc{
    background-color: azure;
    font-size: small;
    margin-bottom:0;
    padding-inline: 4px;
}

.task-extra-info{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.level-pill{
    text-align: center;
    border-radius:10px;
    width:30%;
    padding: 2px;
}

#addBtn{
    width: 100%;
    background-color: black;
    color: wheat;
    padding: 2px 0;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}

h1, h2{
    text-align: center;
}

#task-form{
    margin: 10px auto;
    background-color: antiquewhite;
    border-radius: 10px;
    width:70%;
    padding: 10px;
}

#task-form input, #task-form select, #task-form textarea{
    display: block;
    width: 100%;
    padding: 2px 5px;
}