body{
    box-sizing: border-box;
}

#selection-box{
    padding:10px;
    text-align: center;
}

#card-container{
background-color: bisque;
border: 1px solid black;
width:auto;
height: 100%;
min-height: 90vh;
margin: 0 auto;
padding: 15px;
display: grid;
grid-template-columns: repeat(5, auto);
justify-items: center;
align-items: center;
justify-content: center;
align-content: center;
gap: 15px;
}

.card{
    border:10px double black;
    width:160px;
    height: 180px;
    text-align: center;
    background-color: lightskyblue;
    border-radius:10px;
    height: 100%;
}

.card > img{
    width:75%;
    object-fit: cover;
}

@media (max-width: 600px){
    #card-container{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width:1000px){
    #card-container {
        grid-template-columns: repeat(3, 1fr);
    }
}
