body{
    box-sizing: border-box;
    background-color: aquamarine;
}

#container{
    width: 80%;
    height: 90vh;
    background-color: antiquewhite;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

#text-box{
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    height:90%;
    display:flex;
    justify-content: center;
    align-items: center;
}

form{
    width: fit-content;
    margin: 0 auto;
    max-width: 60%;
 }

form p{
    font-size:xx-large
}

form label{
    font-size:large;
    padding-inline-start: 5px;
}

#btn-box{
    width:100%;
    margin-bottom: 0;
    height: 10%;
}
button{
    width: 100%;
    height:100%;
    border:none;
    background-color: skyblue;
    border-radius: 0 0 10px 10px;
    font-size: x-large;
    font-weight: 700;
    cursor: pointer;
}

input[type="radio"]{
    width:0.8em;
    height:0.8rem;
    accent-color: green;
}

#winner{
    font-size: x-large;
    font-weight: 800;
}